<mat-toolbar>
    <span>Reset Password</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1">
      <mat-icon>cancel</mat-icon>
    </button> </mat-toolbar
  ><br />
    <div class="controles-container">
      <input type="hidden" formControlName="$key" />
      <label>A password reset link will be sent to <span style="font-weight:bold;">{{user.email}}</span></label>
      
      <br /><br>
      <div class="button-row">
        <button
          mat-raised-button
          color="primary"
          (click) = "resetPassword()"
          style="margin-left:34%;width:25%;background-color:darkblue;color:white"
        >
          Confirm
        </button>
      </div>
    </div>

  
