<mat-toolbar style="background-color: darkblue">
  <button *ngIf="(user | async)?.uid && userType === 'Admin'" mat-icon-button style="color:white">
    <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;AppX Device Manager</h1>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs style="color:white">
    <span
      style="font-size:80%;padding-top:1.5%;color:lightsteelblue"
      mat-button
      *ngIf="(user | async)?.uid"
      >{{ userEmail }}</span
    >
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a
          mat-button
          style=" background-color: black;margin-top:20%;font-weight:bold"
          *ngIf="(user | async)?.uid"
          (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngIf="userType === 'Admin'" mat-list-item [routerLink]="'/user-list'" (click)="sidenav.Close()">
        Users
      </a>
      <a *ngIf="userType === 'Admin'" mat-list-item [routerLink]="'/device-list'" (click)="sidenav.Close()">
        View Devices
      </a>
     <!--<a mat-list-item [routerLink]="'/user-home'" (click)="sidenav.Close()">
        Assigned Devices
      </a>--> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
