<form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
  <div class="controles-container" style="border-block-color: black">
    <input type="hidden" formControlName="$key" />
    <br /><br /><br /><br />
    <mat-form-field>
      <input
        [(ngModel)]="email"
        formControlName="email"
        matInput
        placeholder="Email*"
      />
      <mat-error>This field is mandatory.</mat-error> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <input
        type="password"
        [(ngModel)]="password"
        formControlName="password"
        matInput
        placeholder="Password*"
      />
      <mat-error>This field is mandatory.</mat-error> </mat-form-field
    ><br />
    <div class="button-row">
      <button
        mat-raised-button
        type="submit"
        [disabled]="form.invalid"
        style="margin-left:39%;width:20%;background-color: darkblue;color:white"
      >
        Login
      </button>
    </div>
  </div>
</form>
