mat-form-field {
  width: 400px;
}
mat-card-title {
  text-align: center;
}

form.normal-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*margin-left:34%;
   margin-right:10%;*/
}
.controles-container{
  background-color: lightgray;
  margin-top: 5%;
  border-radius:15px;
}


mat-form-field{
  padding-right:5%;
  padding-left:5%;
 
}

