<mat-toolbar>
  <!--<span>{{service.assignForm.controls['$key'].value?"Modify Device":"Add a new device"}}</span>-->
  <span>Return Device</span>
  <!--<span>Assign Device</span>-->
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1">
    <mat-icon>cancel</mat-icon>
  </button> </mat-toolbar
><br />
<form
  [formGroup]="deviceService.form"
  class="normal-form"
  (submit)="onSubmit()"
>
  <div class="controles-container">
    <input type="hidden" formControlName="$key" />
    <mat-form-field>
      <mat-select formControlName="condition" placeholder="Device Condition*">
        <ng-container *ngFor="let condition of deviceCondition">
          <mat-option value="{{ condition.value }}">{{
            condition.value
          }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <!--<mat-form-field>
                    <input formControlName="addDate" matInput [matDatepicker]="picker" placeholder="Date*">
                    <mat-error>This field is mandatory.</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="deviceService.form.invalid"
        style="margin-left:24%;width:25%"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="warn"
        type="submit"
        (click)="onClear()"
        style="margin-left:2%;width:25%"
      >
        Clear
      </button>
    </div>
  </div>
</form>
