<div class="user-list-container">
  <div fxAlign="center">
    <br />
    <h1>&nbsp; AppX Users</h1>
  </div>

  <form [formGroup]="userService.form" class="normal-form" (click)="onSubmit()">
    <div class="controles-container">
      <input type="hidden" formControlName="$key" />
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field>
        <input
          type="email"
          [(ngModel)]="email"
          formControlName="email"
          matInput
          placeholder="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="type" placeholder="User Type">
          <ng-container *ngFor="let type of userType">
            <mat-option value="{{ type.value }}">{{ type.value }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          [(ngModel)]="password"
          formControlName="password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="userService.form.invalid"
        style="margin-left:3%;width:6%"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="warn"
        type="submit"
        (click)="onClear()"
        style="margin-left:1%;width:6%"
      >
        Clear
      </button>
    </div>
  </form>
  <div class="mat-elevation-z8">
    <div class="search-div">
      <mat-form-field
        class="search-form-field"
        floatLabel="never"
        matTooltip="Filter records"
      >
        <input
          matInput
          [(ngModel)]="searchKey"
          placeholder="Search"
          autocomplete="off"
          (keyup)="applyFilter()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="searchKey"
          (click)="onSearchClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="margin-left:6%"
          >Username</mat-header-cell
        >
        <mat-cell *matCellDef="let element" style="margin-left:6%"
          ><a [routerLink]="'/'">{{ element.username }}</a></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="margin-left:6%"
          >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let element" style="margin-left:6%"
          ><a [routerLink]="'/'">{{ element.email }}</a></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >User Type</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="space">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" style="margin-left:5%;">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            matTooltip="Edit user details"
            style="margin-left:50%"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <!--<button mat-raised-button style="background-color:silver;cursor: pointer;"matTooltip="Edit user details" (click)="editCondition(row.$key)">Edit User</button>-->
          <button
            mat-icon-button
            matTooltip="Remove the user"
            (click)="onDelete(row.$key)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        *matFooterRowDef="['loading']"
        [ngClass]="{ hide: listData != null }"
      ></mat-footer-row>
      <mat-footer-row
        *matFooterRowDef="['noData']"
        [ngClass]="{ hide: !(listData != null && listData.data.length == 0) }"
      ></mat-footer-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
